<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.BriqTest.FileDownload"/>
       <class name="com.BriqTest.ReadWebTable"/>
        <class name="com.BriqTest.FileUpload"/>
         <class name="com.BriqTest.FetchUELData"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
